.home.theme-dark .card {
  background-color: theme-color("second-bg-dark");

  & h2 {
    color: theme-color("second-text-light");
  }

  & p {
    color: theme-color("text-light");
  }
}

.card {
  background-color: theme-color("second-bg-light");
  & p {
    color: theme-color("text-dark");
  }
  & h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: theme-color("second-text-dark");
  }
  & .action {
    font-size: 24px;
    width: 24px;
    line-height: 1;
    color: theme-color("primary");
    opacity: 0.85;
    transition: opacity 0.2s;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 767px) {
  .card h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
