.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}
.post-heading {
  padding: 200px 0 150px;
  color: theme-color("text-light");

  & h1 {
    font-size: 35px;
  }

  & .subheading {
    line-height: 1.1;
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  & .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: Lora, Times New Roman, serif;
    line-height: 1.1;
    display: block;

    & a {
      color: #fff;
    }
  }
}
@media only screen and (min-width: 768px) {
  header.masthead {
    & .post-heading {
      & h1 {
        font-size: 55px;
      }

      & .subheading {
        font-size: 30px;
      }
    }
  }

  header.masthead .post-heading header.masthead .post-heading {
    padding: 200px 0;
  }
}
