.article-list {
    color: #313437;
    background-color: #fff;
}

.article-list p {
    color: #7d8285;
}

.article-list h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .article-list h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}



.article-list .articles {
    padding-bottom: 40px;
}