#mainNav {
    position: absolute;
    border-bottom: 1px solid #e9ecef;
    background-color: #fff;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif
}

#mainNav .navbar-brand {
    font-weight: 800;
    color: #343a40
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40
}

#mainNav .navbar-nav>li.nav-item>a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase
}

@media only screen and (min-width:992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background: transparent
    }

    #mainNav .navbar-brand {
        padding: 10px 20px;
        color: #fff
    }

    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: hsla(0, 0%, 100%, .8)
    }

    #mainNav .navbar-nav>li.nav-item>a {
        padding: 10px 20px;
        color: #fff
    }

    #mainNav .navbar-nav>li.nav-item>a:focus,
    #mainNav .navbar-nav>li.nav-item>a:hover {
        color: hsla(0, 0%, 100%, .8)
    }
}

@media only screen and (min-width:992px) {
    #mainNav {
        transition: background-color .2s;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden
    }

    #mainNav.is-fixed {
        position: fixed;
        top: -67px;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s;
        border-bottom: 1px solid #fff;
        background-color: hsla(0, 0%, 100%, .9)
    }

    #mainNav.is-fixed .navbar-brand {
        color: #212529
    }

    #mainNav.is-fixed .navbar-brand:focus,
    #mainNav.is-fixed .navbar-brand:hover {
        color: #0085a1
    }

    #mainNav.is-fixed .navbar-nav>li.nav-item>a {
        color: #212529
    }

    #mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,
    #mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
        color: #0085a1
    }

    #mainNav.is-visible {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}